{% extends 'base.html.twig' %}

{% block title %}Authors{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>Authors</h1>
            <a class="btn btn-warning" href="{{ path('author_new') }}">add new</a>
            <div class="card-columns my-3">
                {% for author in authors %}
                    <div class="card">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ author.fullname }}</h4>
                            <p class="card-text"><span class="text-muted">Books Published:</span> {{author.publication|length|default('0')}}</p>
                            <a class="btn btn-outline-secondary btn-sm small" href="{{path('author_show',{'id': author.id})}}">details</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card border-danger">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title text-danger">No Authors Registered</h4>
                            <p class="card-text">There are no authors found! Please add some authors to get a populated card list.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
