{% extends 'base.html.twig' %}

{% block title %}Add New Author{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>Add new author</h1>
            {{ include('author/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
