{% extends 'base.html.twig' %}

{% block title %}Students{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>Students</h1>
            <a class="btn btn-warning" href="{{ path('student_new') }}">add new student</a>
            <div class="card-columns my-3">
                {% for student in students %}
                    <div class="card">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title">{{ student.fullname }}</h4>
                            <p class="card-text"><span class="text-muted small">Books Borrowed:</span> {{student.borrows|length|default('0')}}</p>
                            <a class="btn btn-outline-secondary btn-sm small" href="{{path('student_show',{'id': student.id})}}">details</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card border-danger">
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body">
                            <h4 class="card-title text-danger">No students Registered</h4>
                            <p class="card-text">There are no students found! Please add some students to get a populated card list.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
