<form method="post" action="{{ path('librarian_delete', {'id': librarian.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ librarian.id) }}">
    <button class="btn">Delete</button>
</form>
