{% extends 'base.html.twig' %}

{% block title %}New Librarian{% endblock %}

{% block body %}
    <h1>Create new Librarian</h1>

    {{ include('librarian/_form.html.twig') }}

    <a href="{{ path('librarian_index') }}">back to list</a>
{% endblock %}
