{% extends 'base.html.twig' %}

{% block title %}Add New Publisher{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12 mb-3">
            <h1>Add new publisher</h1>
            {{ include('publisher/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
