{% extends 'base.html.twig' %}

{% block title %}New Reading Level{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>Add new reading level</h1>
            {{ include('reading_level/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
